@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --black: #4D4C59;
    --purple: #6C63FF;
    --light-grey: #C8C8C8;
    --text-color: #9C9AB6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #E5E5E5;
}

.main {
    height: 100vh;
}

.screen {
    position: relative;
    width: 1366px;
    height: 771px;
    background: #FFFFFF;
    margin: 2vh auto;
}

.top {
    position: absolute;
    width: 1366px;
    height: 133px;
    left: 0px;
    top: 0px;
}

.content {
    position: absolute;
    width: 494px;
    height: 172px;
    left: 13px;
    top: 17px;
}

.header {
    position: absolute;
    width: 626px;
    height: 54px;
    left: 127px;
    top: 187px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 0.105em;
    text-transform: uppercase;
    color: #6C63FF;
}

.title .day-title {
    position: absolute;
    width: 30px;
    height: 21px;
    left: 152px;
    top: 260px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    text-transform: capitalize;
    color: #C8C8C8;
}

.title .hour-title {
    position: absolute;
    width: 41px;
    height: 21px;
    left: 273px;
    top: 260px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    text-transform: capitalize;
    color: #C8C8C8;
}

.title .minute-title {
    position: absolute;
    width: 54px;
    height: 21px;
    left: 405px;
    top: 260px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    text-transform: capitalize;
    color: #C8C8C8;
}

.title .second-title {
    position: absolute;
    width: 70px;
    height: 21px;
    left: 536px;
    top: 260px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    text-transform: capitalize;
    color: #C8C8C8;
}

.counter {
    position: absolute;
    width: 514px;
    height: 79px;
    left: 123px;
    top: 280px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 108px;
    color: #4D4C59;
}

.message .sign-up {
    position: absolute;
    width: 349px;
    height: 21px;
    left: 196px;
    top: 405px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #9C9AB6;
}

.message a button {
    position: absolute;
    width: 160px;
    height: 46px;
    left: 290px;
    top: 457px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background: #6C63FF;
    border-radius: 10px;
    border: #6C63FF;
    cursor: pointer;
}

.message a {
    text-decoration: none;
    color: #FFFFFF;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modal:target {
    opacity: 1;
    pointer-events: auto;
}

.modal>div {
    width: 490px;
    position: relative;
    margin: 10% auto;
    padding: 15px 20px;
    background: #fff;
}

.container-modal {
    color: #6C63FF;
    font-weight: 700;
}

.header-modal {
    padding: 20px 30px;
    text-align: center;
    background: #6C63FF;
    color: white;
    font-size: 30px;
}

.header-modal .fechar {
    position: absolute;
    width: 30px;
    right: -15px;
    top: -20px;
    text-align: center;
    line-height: 30px;
    margin-top: 5px;
    background: #6C63FF;
    border-radius: 50%;
    font-size: 16px;
    color: #201b7e;
    text-decoration: none;
}

.container-modal .content-modal {
    padding: 20px;
}

.container-modal form input[type=text],
.container-modal form input[type=e-mail] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #6C63FF;
}

.container-modal form input[type=submit] {
    background-color: #6C63FF;
    color: white;
    border: 2px solid #6C63FF;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.container-modal form input[type=submit]:hover {
    background-color: white;
    color: #6C63FF;
}

.data-list {
    display: flex;
    position: relative;
    height: 100vh;
    background: #6C63FF;
}

.listname {
    margin: 0 auto;
    width: 43vw;
    height: 61vh;
}

.listname ul {
    position: absolute;
    width: 42vw;
    height: 60vh;
    margin: 1rem;
    padding: 0;
    overflow-y: auto;
}

ul li {
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul li:nth-child(odd) {
    background: #f9f9f9;
}

ul li:hover {
    background: #ddd;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    background-color: #6C63FF;
    color: white;
    cursor: pointer;
}

.right img {
    position: absolute;
    width: 607px;
    height: 435px;
    left: 699px;
    top: 150px;
}

.bottom {
    position: absolute;
    width: 1366px;
    height: 229px;
    left: 0px;
    top: 542px;
}